@model IEnumerable<WebClass.Models.B_ShoppingCar>


<style>

    @@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
    @@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);



    .lighter-text {
        color: #abb0be;
    }

    .main-color-text {
        color: #6394f8;
        font-weight: 900;
    }

    nav ul li {
        display: inline;
        padding-left: 0px;
    }

        nav ul li a {
            color: #777777;
            text-decoration: none;
        }

            nav ul li a:hover {
                color: black;
            }

    .container {
        margin: auto;
    }

    .badge {
        background-color: #6394f8;
        border-radius: 10px;
        color: white;
        display: inline-block;
        font-size: 12px;
        line-height: 1;
        padding: 3px 7px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
    }

    .shopping-cart {
        margin: 15px 0;
        float: right;
        background: white;
        width: 320px;
        height: 450px;
        position: relative;
        border-radius: 3px;
        padding: 7px;
    }

        .shopping-cart a {
            text-decoration: none;
        }

        .shopping-cart .shopping-cart-header {
            border-bottom: 2px outset black;
            padding-bottom: 15px;
            padding-top: 20px;
            padding-right: 10px;
        }

            .shopping-cart .shopping-cart-header .shopping-cart-total {
                float: right;
            }

        .shopping-cart .shopping-cart-items {
            padding-top: 20px;
        }

            .shopping-cart .shopping-cart-items li {
                margin-bottom: 18px;
            }

            .shopping-cart .shopping-cart-items img {
                float: left;
                margin-right: 20px;
                margin-top: 10px;
            }

            .shopping-cart .shopping-cart-items .item-name {
                display: block;
                padding-top: 10px;
                font-size: 16px;
            }

            .shopping-cart .shopping-cart-items .item-price {
                color: #6394f8;
                margin-right: 8px;
                font-weight: 900;
                font-size: 15px
            }

            .shopping-cart .shopping-cart-items .item-quantity {
                color: #abb0be;
            }

        .shopping-cart:after {
            bottom: 100%;
            left: 89%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: white;
            border-width: 8px;
            margin-left: -8px;
        }

    .cart-icon {
        color: #515783;
        font-size: 24px;
        margin-right: 7px;
        float: left;
    }

    .button {
        background: #6394f8;
        color: white;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        display: block;
        border-radius: 3px;
        font-size: 16px;
        margin: 25px 0 15px 0;
        width: 100%;
        height: 10%;
    }

        .button:hover {
            background: #729ef9;
        }

    .custBC:hover {
        background-color: #ecf5ff;
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
</style>





<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
    <div class="container">
        <div class="shopping-cart">
            <div class="shopping-cart-header">
                <i id="cartcount" data-count="@Model.Count()" class="fa fa-shopping-cart cart-icon"></i><span class="badge">@Model.Count()</span>
                <div class="shopping-cart-total">
                    <span class="lighter-text">總金額:</span>NT$
                    <span id="total" class="main-color-text"></span>
                </div>
            </div>
            <ul class="shopping-cart-items" style="height: 300px ;width: 280px; overflow-y: scroll; margin-left: 20px ;margin-top: 5px ">
                @foreach (var item in Model)
                {

                    <li class="clearfix" style="margin:50px">
                        <a style="text-decoration:none;" class="_cart_a" href=" ~/Class/Detial/@item.ClassID">
                            <div style="border-bottom:1px solid gray ; margin-bottom:10px; padding-bottom:30px ;width:100%;height:35% " class="custBC">
                                <div style="height:70px">
                                    <div style=" height:90%; padding-right:5%">
                                        <img src="@Url.Action("GetImage", "Class", new {id= item.ClassID})" width="100" height="70" alt="item1" />

                                        <span class="item-name">@item.C_Class.ClassName</span>
                                    </div>

                                    @if (item.C_Class.CreateTypeID == 2)
                                    {
                                        <div style="float:right; padding-top:10px;margin-bottom:10px ;padding-right:5%">
                                            <text style="font-weight:600;font-size :15px ;margin-bottom:20px">NT$</text>
                                            <span class="item-price" @*style="margin-bottom:0px"*@>@(item.C_Class.Price * 0.9)</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="float:right; padding-top:10px;margin-bottom:10px ;padding-right:5%">
                                            <text style="font-weight:600;font-size :15px ;margin-bottom:20px">NT$</text>
                                            <span @*style="margin-bottom:0px"*@ class="item-price">@item.C_Class.Price</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
            <div style="margin-bottom:40%">
                <a href="~/ShoppingCar/CartList" class="button">前往購物車</a>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        priceSum();
        $('#layoutcartcount').text($('#cartcount').data('count'));
    });



</script>
